
.main
  background-color #f2f3f3

.entry-project-cnt
  position relative
.entry-project-cnt--left
  left -108px
.entry-project-cnt--right
  left 108px

@import "../../modules/ui/header/index"
@import "../../modules/ui/menu/index"
@import "../../modules/ui/entries/project/index"
