
html, body
  overflow-x hidden
  background-color #f2f3f3

.entry-project-cnt
  position relative
.entry-project-cnt--left
  left -118px
.entry-project-cnt--right
  left 118px

@import "../../modules/ui/header/index"
@import "../../modules/ui/menu/index"
@import "../../modules/ui/entries/project/index"
@import "../../modules/ui/expand/index"
@import "../../modules/ui/footer/index"
@import "../../modules/ui/timeline/index"
@import "../../modules/ui/timeline/background/index"
