//- .page.home.home--themes
.page.home
  .page__content
    include /modules/timeline/background/timeline-background
    include /modules/entries/project/entries-title

    //- SHOW BY THEMES
    //- .entries-title-cnt.entries-title-cnt--left
    //-   +entry-title-big( "THEMELOREM", 3, "APR" )
    //- .entries-title-cnt.entries-title-cnt--right
    //-   +entry-title-big( "THEMELOREM", 3, "APR" )
    //- .entries-title-cnt.entries-title-cnt--left
    //-   +entry-title-big( "THEMELOREM", 3, "APR" )
    //- .entries-title-cnt.entries-title-cnt--right
    //-   +entry-title-big( "THEMELOREM", 3, "APR" )

    //- SHOW BY PROJECTS
    .entries-title-cnt.entries-title-cnt--right
      +entry-title( "THEMELOREM", 3, "APR" )
    include /modules/entries/project/entries-project
    .entry-project-cnt.entry-project-cnt--left
      +entry-project( "FLOZ", "WEBGL", "left" )
    .entry-project-cnt.entry-project-cnt--right
      +entry-project( "FLOZ", "WEBGL", "right" )
    .entry-project-cnt.entry-project-cnt--left
      +entry-project( "FLOZ", "WEBGL", "left" )

    .entries-title-cnt.entries-title-cnt--left
      +entry-title( "THEMELOREM", 2, "APR" )
    .entry-project-cnt.entry-project-cnt--right
      +entry-project( "FLOZ", "WEBGL", "right" )
    .entry-project-cnt.entry-project-cnt--left
      +entry-project( "FLOZ", "WEBGL", "left" )
  .page__footer
    include /modules/expand/expand

  include /modules/footer/footer
