ul.expand
  //- li.expand-entry.expand-entry--fb
  //-   a( href="#", title="facebook" )
  li.expand-entry.expand-entry--show-more
    span.expand-entry__text SHOW MORE
  //- li.expand-entry.expand-entry--twitter
  //-   a( href="#", title="twitter" )
