@import "core/fonts"

header
  height h = 560px
  background-color #eaebeb
  font normal 85px/h bold
  color #fff
  text-align center
  text-shadow 0px 4px #d7d9d9
  .title
    position relative
    background transparent url( "img/header/logo.png" ) no-repeat
    text-indent -9999px
    display inline-block
    width 418px
    height 63px
    line-height h
