doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    meta(name="keywords", content="")

    meta(property="og:site_name", content="")
    meta(property="og:title", content="")
    meta(property="og:description", content="")
    meta(property="og:type", content="")
    meta(property="og:url", content="")
    meta(property="og:image", content="")

    title SNYGT

    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/fonts/stylesheet.css")
    link(rel="stylesheet", href="/css/main.css")
    block style

  body
    block content

    block scripts
    script(src="/js/vendors/greensock/easing/EasePack.min.js")
    script(src="/js/vendors/greensock/plugins/CSSPlugin.min.js")
    script(src="/js/vendors/greensock/TweenMax.min.js")
    script(src="/js/app.js")

    div.
      <script type='text/javascript'>//<![CDATA[
          document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.5.8.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
      //]]></script>
