@import nib

.entry-project
  position relative
  width 724px
  margin 0 auto
  background-color #fff
  overflow hidden
  border-radius( 4px )

.entry-project__part
  float left

.entry-project__preview
  position relative
  width 440px
  height 280px
  overflow hidden

.entry-project__infos
  position relative
  width 284px
  height 280px
  color #494c51
  text-align center

.entry-project__infos__bg
  position absolute
  width 100%
  height 100%

.trame-dot
  position absolute
  display block
  width 1px
  height 1px
  background-color #d6d6d6

.entry-project__infos__bg__deco--top
  position absolute
  left 10px
  top 10px
  background transparent url( "img/trame_top_left.png" ) no-repeat
  width 12px
  height 12px

.entry-project__infos__bg__deco--bot
  position absolute
  right 10px
  bottom 10px
  background transparent url( "img/trame_bot_right.png" ) no-repeat
  width 12px
  height 12px

.entry-project__infos__author
  position relative
  font normal 16px "geogrotesque_bdbold"
  margin-top 100px

.entry-project__infos__techno
  font normal 16px "geogrotesque_lglight"

.entry-project__arrow
  position relative
  background transparent url( "img/arrow.png" ) no-repeat  
  width 16px
  height 15px
  margin 40px auto 0
