@import "core/fonts"

footer
  position relative
  margin 80px auto 0
  width 960px
  height 120px
  background-color #21252a
  border-top-left-radius 4px
  border-top-right-radius 4px
  overflow hidden
  color #525760
  text-shadow 0px -1px 0px #000
  a
    color #525760
  a, .copyright
    font normal 13px/120px regular
  .copyright, .social-bts, .social-bt
    display inline-block
  .social-bt
    position relative
    margin-left 60px
  .social-bt--fb
    background transparent url( "img/footer/bt_fb.png" ) no-repeat
    width 22px
    height 24px
    top 7px
  .social-bt--twitter
    background transparent url( "img/footer/bt_twitter.png" ) no-repeat
    width 22px
    height 19px
    top 5px
    margin-left 20px
  .border
    position absolute
    height 100%
    width 1px
    top 0
  .border--right
    background-color #000
    right 0
  .border--left
    background-color #272a31
    left 0

.footer__part
  position relative
  width (100/3)%
  height 100%
  float left
  text-align center

.footer__title
  font normal 20px/120px bold
  text-shadow 0px -2px 0px #000
