.side-menu
  .side-menu__infos
    .side-menu__infos__icon-close
    .side-menu__infos__date MARCH 2014
    .side-menu__infos__theme THEMELOREM
  a.side-menu__author(href="#")
    span.name KOKOPAKO
    span.icon 
  .side-menu__views
    strong 289
    span VIEWS
  .side-menu__technos
    h3 3D
    p c4d / modeling / lighting / animation / rendering
    h3 2D
    p c4d / modeling / lighting / animation / rendering
