footer
  .footer__part
    .copyright © 2014 SNYGT
    .social-bts
      a.social-bt.social-bt--fb(href="#", title="")
      a.social-bt.social-bt--twitter(href="#", title="")
    .border.border--right
  .footer__part
    .border.border--left
    h2.footer__title SNYGT
    .border.border--right
  .footer__part
    .border.border--left
    a(href="#") Contact
