extends /_layouts/default

block content
  include /modules/ui/header/template.jade
  include /modules/ui/menu/template.jade

  .main
    include /modules/ui/entries/project/template.jade
    +entry-project( "FLOZ", "WEBGL", "left" )
    +entry-project( "FLOZ", "WEBGL", "right" )
    +entry-project( "FLOZ", "WEBGL", "left" )
    +entry-project( "FLOZ", "WEBGL", "right" )
