@import nib

.menu
  position relative
  width 100%
  background-color #0f1013
  height 80px
  overflow hidden
  border-top 2px solid #31353d

.menu__entry
  background-color #24272e
  height h = 76px
  float left
  text-align center
  position relative
  a
    text-decoration none
    color #fff
    font normal 16px/h "geogrotesque_rgregular"
    text-shadow 0px -2px #040406
  a, span
    display inline-block
  .border
    position absolute
    width 1px
    height 100%
  .border--left
    left 0
    background-color #31353d
  .border--right
    right 0
    background-color #0f1013
  .icon
    position relative
    width 22px
    line-height 0px

.menu__infos
  width 20%

.menu__filter
  width 40%

.icon__line
  display block
  width 100%
  background-color #dbdfdf
  border-radius( 2px )
  box-shadow( 0px -1px 0px 0px #0f1013 )

.icon__line--thin
  height 3px

.icon__line--fat
  height 8px
