ul.menu
  li.menu__entry.menu__infos
    a(href="/infos") 
      span.border.border--left
      span.title INFOS
      span.border.border--right
  li.menu__entry.menu__filter.menu__filter--themes
    a(href="#") 
      span.border.border--left
      span.title SHOW BY THEMES
      span.icon
        span.icon__line.icon__line--thin
        span.icon__line.icon__line--thin
        span.icon__line.icon__line--thin
        span.icon__line.icon__line--thin
      span.border.border--right
  li.menu__entry.menu__filter.menu__filter--projects
    a(href="#")
      span.border.border--left
      span.title SHOW BY PROJECTS
      span.icon
        span.icon__line.icon__line--fat
        span.icon__line.icon__line--fat
      span.border.border--right
 
