@import "nib"
@import "core/fonts"

.side-menu
  position relative
  width 320px
  background-color #f1f2f2

.side-menu__infos
  position relative
  background #30353d url( "img/details/bg_infos.jpg" ) no-repeat
  background-position 0 1px
  height 190px
  text-align center

.side-menu__infos__icon-close
  background transparent url( "img/details/icon_close.png" ) no-repeat
  width 15px
  height 16px
  display inline-block
  margin-top 50px

.side-menu__infos__date
  font normal 12px regular
  color #6a7382
  text-shadow 0 -2px 0 #1f2228
  margin-top 32px

.side-menu__infos__theme
  font normal 16px bold
  color #fff
  text-shadow 0 -2px 0 #1f2228
  letter-spacing 1px
  margin-top 2px

.side-menu__author
  position relative
  display block
  background-color #fff
  height 75px
  text-align center
  text-decoration none
  .name
    display block
    position relative
    width 100%
    padding-top 23px
    font normal 16px bold
    color #494c51
  .icon
    display inline-block
    background transparent url( "img/details/icon_follow.png" ) no-repeat
    width 12px
    height 12px

.side-menu__views
  position relative
  height h = 130px
  background-color #fff
  margin-top 4px
  color #494c51
  text-align center
  strong
    font normal 76px/h bold
  span
    position relative
    font normal 12px/h regular
    top -20px
    margin-left 15px

.side-menu__technos
  position relative
  background transparent url( "img/details/bg_tech.jpg" ) no-repeat
  background-size 319px 151px
  min-height 151px
  border-top 4px solid #e1e1e1
  text-align center
  padding-top 15px
  margin-bottom 100px
  h3
    margin-top 30px
    font normal 16px bold
    color #494c51
    text-shadow 0 2px 0 #fff
  p
    font normal 12px regular
    color #8c8c8d
    text-transform uppercase
    width 160px
    margin 10px auto 0



