html,
body {
  background: #f2f3f3 url("img/bg_dot.jpg");
}
.main {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
header {
  height: 560px;
  background-color: #eaebeb;
  font: normal 85px/560px "geogrotesque_bdbold";
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px #d7d9d9;
}
header .title {
  position: relative;
  background: transparent url("img/header/logo.png") no-repeat;
  text-indent: -9999px;
  display: inline-block;
  width: 418px;
  height: 63px;
  line-height: 560px;
}
.menu {
  position: relative;
  width: 100%;
  background-color: #0f1013;
  height: 80px;
  overflow: hidden;
  border-top: 2px solid #31353d;
}
.menu__entry {
  background-color: #24272e;
  height: 76px;
  float: left;
  text-align: center;
  position: relative;
}
.menu__entry a {
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font: normal 16px/76px "geogrotesque_rgregular";
  text-shadow: 0px -2px #040406;
}
.menu__entry a,
.menu__entry span {
  display: inline-block;
}
.menu__entry .border {
  position: absolute;
  width: 1px;
  height: 100%;
}
.menu__entry .border--left {
  left: 0;
  background-color: #31353d;
}
.menu__entry .border--right {
  right: 0;
  background-color: #0f1013;
}
.menu__entry .icon {
  position: relative;
  width: 22px;
  line-height: 0px;
  margin-left: 20px;
  top: 5px;
}
.menu__logo {
  display: none;
}
.menu__infos {
  width: 20%;
}
.menu__filter {
  width: 40%;
}
.icon__line {
  display: block;
  width: 100%;
  background-color: #dbdfdf;
  -webkit-box-shadow: 0px -1px 0px 0px #0f1013;
  box-shadow: 0px -1px 0px 0px #0f1013;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.icon__line--thin {
  height: 3px;
  margin-bottom: 3px;
}
.icon__line--fat {
  height: 8px;
  margin-top: 2px;
  margin-bottom: 1px;
}
.menu--mobile {
  display: none;
}
@media (max-width: 641px) {
  .menu {
    display: none;
  }
}
@media (max-width: 641px) {
  .menu--mobile {
    display: block;
    border: 0;
  }
  .menu--mobile.menu--mobile-bottom {
    height: 41px;
  }
  .menu--mobile.menu--mobile-bottom .menu__entry {
    height: 38px;
  }
  .menu--mobile.menu--mobile-bottom .menu__entry a {
    font-size: 13px;
    line-height: 38px;
  }
  .menu--mobile .menu__logo {
    display: block;
    width: 100%;
    line-height: 78px;
  }
  .menu--mobile .menu__logo a {
    background: transparent url("img/menu/logo.png") no-repeat;
    width: 57px;
    height: 12px;
    -webkit-background-size: 57px 12px;
    -moz-background-size: 57px 12px;
    background-size: 57px 12px;
    display: inline-block;
  }
  .menu--mobile .menu__filter {
    width: 50%;
  }
}
.page {
  position: relative;
  width: 100%;
  height: 100%;
}
.page__content {
  position: relative;
  width: 100%;
  padding-top: 112px;
  padding-bottom: 76px;
}
.page__footer {
  position: relative;
}
.entry-project-cnt {
  position: relative;
}
.entry-project-cnt--left {
  left: -118px;
}
.entry-project-cnt--right {
  left: 123px;
}
.entries-title-cnt {
  position: relative;
}
.entries-title-cnt--left {
  left: -97px;
}
.entries-title-cnt--right {
  left: 102px;
}
.home--themes .entries-title-cnt--left {
  left: -41px;
}
.home--themes .entries-title-cnt--right {
  left: 39px;
}
@media (max-width: 971px) {
  .entries-title-cnt--left {
    left: -80px;
  }
  .entries-title-cnt--right {
    left: 77px;
  }
  .entry-project-cnt--left {
    left: -99px;
  }
  .entry-project-cnt--right {
    left: 98px;
  }
}
@media (max-width: 641px) {
  .entries-title-cnt--left {
    left: -17px;
  }
  .entries-title-cnt--right {
    left: 17px;
  }
  .entry-project-cnt--left {
    left: -20px;
  }
  .entry-project-cnt--right {
    left: 20px;
  }
}
@media (max-width: 321px) {
  .entries-title-cnt--left {
    left: -18px;
  }
  .entries-title-cnt--right {
    left: 18px;
  }
  .entry-project-cnt--left {
    left: 0px;
  }
  .entry-project-cnt--right {
    left: 0px;
  }
}
.entries-title {
  position: relative;
  background-color: #21252a;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 285px;
  height: 82px;
  overflow: hidden;
  margin: 0 auto;
  text-shadow: 0px -2px 0px #000;
}
.entries-title__part--left {
  float: left;
  text-align: center;
  width: 200px;
  border-right: 1px solid #000;
}
.entries-title__part--right {
  float: right;
  width: 83px;
  text-align: center;
  border-left: 1px solid #31353d;
}
.entries-title__theme {
  font: normal 16px/82px "geogrotesque_bdbold";
  color: #f2f3f3;
  display: inline-block;
  letter-spacing: 1px;
}
.entries-title__count,
.entries-title__month {
  font: normal 16px/82px "geogrotesque_rgregular";
  color: #67696d;
  display: inline-block;
}
.entries-title__count {
  padding-left: 10px;
}
.entries-title__shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #0f1013;
}
.entries-title--big {
  width: 405px;
  height: 160px;
}
.entries-title--big .entries-title__part--left {
  width: 244px;
}
.entries-title--big .entries-title__part--right {
  width: 159px;
}
.entries-title--big .entries-title__theme,
.entries-title--big .entries-title__count,
.entries-title--big .entries-title__month {
  line-height: 160px;
}
@media (max-width: 971px) {
  .entries-title {
    height: 65px;
  }
  .entries-title {
    width: 226px;
  }
  .entries-title__part--left {
    width: 157px;
  }
  .entries-title__part--right {
    width: 67px;
  }
  .entries-title__theme,
  .entries-title__count,
  .entries-title__month {
    font-size: 13px;
    line-height: 65px;
  }
}
@media (max-width: 641px) {
  .entries-title {
    width: 242px;
  }
  .entries-title__part--left {
    width: 157px;
  }
  .entries-title__part--right {
    width: 83px;
  }
  .entries-title__theme,
  .entries-title__count,
  .entries-title__month {
    font-size: 13px;
  }
  .entries-title__count {
    padding-left: 5px;
  }
}
.entry-project {
  position: relative;
  width: 725px;
  height: 280px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
}
.entry-project span {
  display: block;
}
.entry-project__part {
  float: left;
}
.entry-project__preview {
  position: relative;
  width: 440px;
  height: 100%;
  overflow: hidden;
}
.entry-project__infos {
  position: relative;
  width: 284px;
  height: 276px;
  color: #494c51;
  text-align: center;
}
.entry-project--left .entry-project__infos {
  border-left: 1px solid rgba(0,0,0,0.1);
}
.entry-project--right .entry-project__infos {
  border-right: 1px solid rgba(0,0,0,0.1);
}
.entry-project__infos__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.entry-project__infos__bg__deco--top {
  position: absolute;
  left: 10px;
  top: 10px;
  background: transparent url("img/project/trame_top_left.png") no-repeat;
  width: 12px;
  height: 12px;
}
.entry-project__infos__bg__deco--bot {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: transparent url("img/project/trame_bot_right.png") no-repeat;
  width: 12px;
  height: 12px;
}
.entry-project__infos__author {
  position: relative;
  font: normal 16px "geogrotesque_bdbold";
  margin-top: 100px;
}
.entry-project__infos__techno {
  font: normal 16px "geogrotesque_lglight";
}
.entry-project__arrow {
  position: relative;
  background: transparent url("img/project/arrow.png") no-repeat;
  width: 16px;
  height: 15px;
  margin: 40px auto 0;
}
.entry-project__shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
@media (max-width: 971px) {
  .entry-project {
    width: 582px;
    height: 224px;
  }
  .entry-project__preview {
    width: 354px;
  }
  .entry-project__infos {
    width: 226px;
    height: 220px;
  }
  .entry-project__infos__author {
    margin-top: 75px;
  }
  .entry-project__arrow {
    margin-top: 25px;
  }
}
@media (max-width: 641px) {
  .entry-project {
    width: 360px;
    height: 140px;
  }
  .entry-project__preview {
    width: 219px;
  }
  .entry-project__infos {
    width: 140px;
    height: 136px;
  }
  .entry-project__infos__author {
    margin-top: 35px;
  }
  .entry-project__arrow {
    margin-top: 20px;
  }
}
@media (max-width: 321px) {
  .entry-project {
    width: 320px;
    height: 140px;
  }
  .entry-project__preview {
    width: 178px;
  }
  .entry-project__infos {
    width: 141px;
    height: 136px;
  }
}
.expand {
  position: relative;
  text-align: center;
}
.expand a {
  text-decoration: none;
}
.expand-entry {
  display: inline-block;
  width: 240px;
  height: 80px;
  border: 2px solid #e2e2e2;
  -webkit-box-shadow: inset 0 1px 0px #fff, 0 1px 0 #fff;
  box-shadow: inset 0 1px 0px #fff, 0 1px 0 #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.expand-entry__text {
  font: normal 16px/80px "geogrotesque_rgregular";
  color: #c4c3c3;
  text-shadow: 0px 2px 0px #fff;
}
@media (max-width: 641px) {
  .expand-entry {
    height: 41px;
    width: 120px;
  }
  .expand-entry__text {
    line-height: 41px;
  }
}
footer {
  position: relative;
  margin: 80px auto 0;
  width: 960px;
  height: 120px;
  background-color: #21252a;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  color: #525760;
  text-shadow: 0px -1px 0px #000;
}
footer a {
  position: relative;
  color: #525760;
  text-decoration: none;
}
footer a,
footer .copyright {
  font: normal 13px/120px "geogrotesque_rgregular";
}
footer .copyright,
footer .social-bts,
footer .social-bt {
  display: inline-block;
}
footer .social-bt {
  position: relative;
  margin-left: 60px;
}
footer .social-bt--fb {
  background: transparent url("img/footer/bt_fb.png") no-repeat;
  width: 22px;
  height: 24px;
  top: 7px;
}
footer .social-bt--twitter {
  background: transparent url("img/footer/bt_twitter.png") no-repeat;
  width: 22px;
  height: 19px;
  top: 5px;
  margin-left: 20px;
}
footer .border {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
}
footer .border--right {
  background-color: #000;
  right: 0;
}
footer .border--left {
  background-color: #272a31;
  left: 0;
}
.footer__part {
  position: relative;
  width: 33.333333333333336%;
  height: 100%;
  float: left;
  text-align: center;
}
.footer__title {
  font: normal 20px/120px "geogrotesque_bdbold";
  text-shadow: 0px -2px 0px #000;
  letter-spacing: 2px;
}
.footer__part--contacts a {
  border-bottom: solid 1px #525760;
  padding-bottom: -10px;
  line-height: 18px;
  top: 50px;
}
@media (max-width: 971px) {
  footer {
    width: 400px;
    height: 190px;
  }
  footer .border {
    display: none;
  }
  footer .footer__part {
    width: 100%;
    float: none;
    height: 70px;
  }
  footer .footer__part--details {
    position: absolute;
    float: none;
    top: 85px;
  }
  footer .footer__title {
    line-height: 95px;
  }
  footer .footer__part--contacts a {
    top: 10px;
  }
}
.timeline {
  display: block;
  position: absolute;
}
.timeline--background {
  width: 1px;
  height: 100%;
  background-color: #e2e2e2;
  left: 50%;
  top: 0;
}
.infos {
  background-color: #725dfa;
}
.infos__title {
  text-align: center;
}
.infos__title .trame {
  display: inline-block;
  height: 53px;
}
.infos__title .trame--left {
  background: transparent url("img/infos/trame_left.png") no-repeat;
  width: 490px;
  margin-right: 22px;
}
.infos__title .trame--right {
  background: transparent url("img/infos/trame_right.png") no-repeat;
  width: 489px;
  margin-left: 15px;
}
.infos__title h2 {
  display: inline-block;
  font: normal 76px "geogrotesque_bdbold";
  color: #fff;
  letter-spacing: 10px;
  text-shadow: 0px 4px 0px #6150d4;
}
.infos__desc {
  position: relative;
  color: #fff;
  font: normal 16px "geogrotesque_rgregular";
  width: 465px;
  margin: 22px auto 0;
}
.infos__created-by {
  color: #362c76;
  font: normal 16px "geogrotesque_rgregular";
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
}
.infos__created-by ul {
  margin-top: 20px;
}
.infos__created-by li {
  display: inline-block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #5849bf;
  -webkit-box-shadow: inset 0 1px 0px #7f6cfd, 0 1px 0 #7f6cfd;
  box-shadow: inset 0 1px 0px #7f6cfd, 0 1px 0 #7f6cfd;
}
.infos__created-by li:first-child {
  margin-right: 25px;
}
.infos__created-by li:last-child {
  margin-left: 25px;
}
.infos__created-by a {
  display: inline-block;
  text-decoration: none;
  color: #473b9a;
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 80px;
  text-shadow: 0 2px 0px #7f6cfd;
}
.side-menu {
  position: relative;
  width: 320px;
  background-color: #f1f2f2;
}
.side-menu__infos {
  position: relative;
  background: #30353d url("img/details/bg_infos.jpg") no-repeat;
  background-position: 0 1px;
  height: 190px;
  text-align: center;
}
.side-menu__infos__icon-close {
  background: transparent url("img/details/icon_close.png") no-repeat;
  width: 15px;
  height: 16px;
  display: inline-block;
  margin-top: 50px;
}
.side-menu__infos__date {
  font: normal 12px "geogrotesque_rgregular";
  color: #6a7382;
  text-shadow: 0 -2px 0 #1f2228;
  margin-top: 32px;
}
.side-menu__infos__theme {
  font: normal 16px "geogrotesque_bdbold";
  color: #fff;
  text-shadow: 0 -2px 0 #1f2228;
  letter-spacing: 1px;
  margin-top: 2px;
}
.side-menu__author {
  position: relative;
  display: block;
  background-color: #fff;
  height: 75px;
  text-align: center;
  text-decoration: none;
}
.side-menu__author .name {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 23px;
  font: normal 16px "geogrotesque_bdbold";
  color: #494c51;
}
.side-menu__author .icon {
  display: inline-block;
  background: transparent url("img/details/icon_follow.png") no-repeat;
  width: 12px;
  height: 12px;
}
.side-menu__views {
  position: relative;
  height: 130px;
  background-color: #fff;
  margin-top: 4px;
  color: #494c51;
  text-align: center;
}
.side-menu__views strong {
  font: normal 76px/130px "geogrotesque_bdbold";
}
.side-menu__views span {
  position: relative;
  font: normal 12px/130px "geogrotesque_rgregular";
  top: -20px;
  margin-left: 15px;
}
.side-menu__technos {
  position: relative;
  background: transparent url("img/details/bg_tech.jpg") no-repeat;
  -webkit-background-size: 319px 151px;
  -moz-background-size: 319px 151px;
  background-size: 319px 151px;
  min-height: 151px;
  border-top: 4px solid #e1e1e1;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 100px;
}
.side-menu__technos h3 {
  margin-top: 30px;
  font: normal 16px "geogrotesque_bdbold";
  color: #494c51;
  text-shadow: 0 2px 0 #fff;
}
.side-menu__technos p {
  font: normal 12px "geogrotesque_rgregular";
  color: #8c8c8d;
  text-transform: uppercase;
  width: 160px;
  margin: 10px auto 0;
}
