
html, body
  background #f2f3f3 url( "img/bg_dot.jpg" )

.main
  position relative
  width 100%
  height auto
  overflow hidden

@import "mixins/queries"
@import "mixins/images"
@import "modules/header/header"
@import "modules/menu/menu"
@import "pages/page"
@import "pages/home"
@import "modules/entries/project/entries-title"
@import "modules/entries/project/entries-project"
@import "modules/expand/expand"
@import "modules/footer/footer"
@import "modules/timeline/timeline"
@import "modules/timeline/background/timeline-background"
@import "pages/infos"
@import "modules/side_menu/side_menu"
