.page.infos
  .page__content
    .infos__title
      .trame.trame--left
      h2 INFOS
      .trame.trame--right
    .infos__desc.
      Snygt is a creative plateform to share mind blown experiments.
      <br />Every month, creations are designed following a unique theme.
    .infos__created-by
      .infos__created-by__title Snygt project has been created by :
      ul
        li
          a(href="http://twitter.com/florianzumbrunn", title="") FLORIAN ZUMBRUNN
        li
          a(href="https://twitter.com/kokopako", title="") CLÉMENT PAVAGEAU

  include /modules/footer/footer



